.text-container {
  width: 1000px;
  /* background-color: aqua; */
}

.head {
  /* margin-left: -25px; */
  font-weight: 650;
  font-size: 18px;
}

.text-container-main {
  font-size: 18px;
}

.text-container-main ul {
  margin-left: 50px;
}

.text-container-main img {
  width: 1000px;
}

@media (max-width: 768px) {
  .text-container {
    max-width: 80%;
    margin: 0 auto;
    font-size: 10px;
  }

  .head {
    font-size: 10px;
  }

  .text-container-main {
    font-size: 10px;
  }

  .text-container-main ul {
    margin-left: 15px;
  }

  .text-container-main img {
    margin: 10px 0 0 15px;
    width: 90%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .text-container {
    max-width: 80%;
    margin: 0 auto;
    font-size: 10px;
  }

  .head {
    font-size: 15px;
  }

  .text-container-main {
    font-size: 15px;
  }

  .text-container-main ul {
    margin-left: 15px;
  }

  .text-container-main img {
    margin: 10px 0 0 15px;
    width: 90%;
  }
}
